button {
  background-color:transparent;
  border: 1px solid #ece6e1;
  height: 3.5em;
  width: 9em;
  color: gray;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover{
  border: 2px solid #ece6e1; 
  color: white
}
.chart{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}
.container{
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
.item{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0.5em;
  /* gap: 0.5em; */
}
.card {
  /* Add shadows to create the "card" effect */
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 0.5em;
  padding-right: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(253, 253, 253, 0.2);
}

/* Add some padding inside the card container */
.container-card {
  padding: 2px 16px;
}