button {
  background-color:transparent;
  border: 1px solid #ece6e1;
  color: gray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover{
  border: 2px solid #ece6e1; 
  color: white
}