.status {
    background-color: white;
    color: black;
    border: solid black 2px;
    margin: 10px;
    padding: 10px;
    position: relative; 
  }
  .status .close {
      position: absolute;
      top: 0%;
      right: 0%;
      font-size: 30px;
      padding: 5px;
      cursor: pointer;
  }
  .status .edit {
    position: absolute; 
    top: 75%;
    right: 90%;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
  }